<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>news scraper</title>

{{!-- Materialize CDN --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
{{!-- custom stylsheet link --}}
    <link rel="stylesheet" href="../../public/css/index.css" type="text/css">

</head>

<body>
    {{{body}}}
</body>

</html>