<nav>
    <div class="nav-wrapper cyan lighten-2">
        <a href="#" class="brand-logo" id="navTitle">news scraper</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><button class="btn waves-effect waves-light cyan darken-1" type="submit" name="action">scrape articles
                </button></li>
            <li><button class="btn waves-effect waves-light cyan accent-3" type="submit" name="action">clear articles
                </button></li>
        </ul>
    </div>
</nav>