* {
    font-family: Arial, Helvetica, sans-serif
}
body {
    background-color: #ede7f6;
}

#nav-title {
    margin-left: 10%;
}

#scrape {
    margin-right: 500px;
}

.collection {
    width: 80%;
    margin-left: 10%;
    border-color: transparent;  
}
.collection-item {
    text-align: center;
    font-size: 24pt;
    height: 70px;
}

.slider {
    margin-top: 1%;
}

#caption {
    color: navy;
    font-size: 78pt;
}

.note-button {
    margin-left: 42%;}

.save-recipe {
    margin-left: 42%;
    margin-bottom: 2%;
}