#nav-title {
    margin-left: 10%;
}

#right-button {
    margin-right: 500px;
}

.collection-item {
    text-align: center;
    font-size: 24pt;
    height: 70px;
}

.slider {
    margin-top: 1%;
}

#caption {
    color: black;
}

.save-recipe {
    margin-left: 45%;
    margin-bottom: 2%;
}